/**
 * @file
 * Styles for Radix Full-Width.
 */

/**
 * For consistency, we make .container full-width when editing in the IPE.
 *
 * Ideally, we'd be doing the reverse, where the pane stayed in the region
 * style after you have move it (right now the panes move out of the region
 * style markup), but consistent is better than inconsistent.
 */
.panels-ipe-editing .radix-full-width .container {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/**
 * Container for full width.
 */

.radix-full-width-container-full-width {
}

.radix-full-width-container-full-width .row {
  margin-left: 0;
  margin-right: 0;
}

.radix-full-width-container-full-width .row .col-xs-12,
.radix-full-width-container-full-width .row .col-sm-12,
.radix-full-width-container-full-width .row .col-md-12,
.radix-full-width-container-full-width .row .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}


/**
 * Drop certain style atributes at mobile sizes.
 *
 * @todo Make breakpoint configurable with Issue #2477975.
 */
@media only screen and (max-width: 768px) {
  .region-radix-full-width-bgimage-type-hero,
  .pane-radix-full-width-bgimage-type-hero {
    background-image: none !important;
  }

  .region-radix-full-width-flexible,
  .region-radix-full-width-flexible .container-inner,
  .pane-radix-full-width-flexible {
    padding: 0 !important;
  }

  .region-radix-full-width-flexible,
  .pane-radix-full-width-flexible {
    min-height: initial !important;
  }
}

/**
 * '10 rows' layout.
 */

/**
 * So that the '10 Rows' layout doesn't have so much empty space when the IPE
 * is used as the renderer, we try to remove the margin added to empty rows.
 */
.panels-ipe-processed > .radix-full-width-10rows > .row {
  margin-bottom: 0;
}
.panels-ipe-processed > .radix-full-width-10rows > .row .panel-pane {
  margin-top: 10px;
  margin-bottom: 10px;
}
